# IntelliJ
.idea
target/
*.iml

# Other editors
tags/

# Our files
imgs/
logs/
/src/main/resources/sentry.properties
*.log
*.json
out/

# Gradle can use hashes
.gradle/
gradle/
gradlew
gradlew.bat
settings.gradle
build.gradle