<configuration>
    <appender name="Log" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>./latest.log</file>
        <encoder>
            <pattern>[%d{yyyy.MM.dd HH:mm}] [%level] [%logger{0}] [%t] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="Debug-Log" class="ch.qos.logback.core.FileAppender">
        <file>./debug-latest.log</file>
        <encoder>
            <pattern>[%d{yyyy.MM.dd HH:mm}] [%level] [%logger{0}] [%t] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="stream.flarebot.flarebot.util.errorhandling.Filter" />
        <filter class="stream.flarebot.flarebot.util.errorhandling.ErrorCatcher" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy.MM.dd HH:mm:ss}] [%level] [%logger{0}] [%t] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="stream.flarebot.flarebot.util.errorhandling.Filter" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    <appender name="Metrics" class="io.prometheus.client.logback.InstrumentedAppender" />
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="Log"/>
        <appender-ref ref="Debug-Log" />
        <appender-ref ref="Sentry"/>
        <appender-ref ref="Metrics" />
    </root>
    <logger name="org.apache" level="NONE" />
    <logger name="com.sedmelluq.*" level="INFO" />
    <logger name="httpclient" level="NONE" />
    <logger name="stream.flarebot.flarebot.FlareBot" level="INFO" />
    <logger name="stream.flarebot.flarebot.mod.nino.URLChecker" level="INFO" />
    <logger name="Redis-*" level="NONE" />
</configuration>
